name: Trigger auto deployment for geodev01-app

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: [main]
    paths:
      - "**"
      - ".github/workflows/geodev01-app-AutoDeployTrigger-5f5fbb11-4bc5-4f89-855a-bf1436ea64f4.yml"

  # Allow manual trigger
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.GEODEV01APP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.GEODEV01APP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.GEODEV01APP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          dockerfilePath: Dockerfile
          registryUrl: acrgeodev01.azurecr.io
          registryUsername: ${{ secrets.GEODEV01APP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.GEODEV01APP_REGISTRY_PASSWORD }}
          containerAppName: geodev01-app
          resourceGroup: shancrys-rg
          imageToBuild: acrgeodev01.azurecr.io/geodev01-app:${{ github.sha }}
